<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire GET</title>
</head>
<body>
    <form action="/param-get" method="GET">
        <label for="num">Numéro :</label>
        <input type="text" id="num" name="num" required>
        <br>
        <label for="msg">Message :</label>
        <input type="text" id="msg" name="msg" required>
        <br>
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>
