<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Envoi de SMS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            text-align: center;
            padding-top: 100px;
        }

    </style>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <h1>Bienvenue sur le service d'envoi de SMS</h1>

    <div class="button-container">
        <a href="/msg" class="btn">Messages</a>
        <a href="/rappel" class="btn">Rappel RDV</a>
        <a href="/historique" class="btn">Historique</a>
    </div>

</body>
</html>
