<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
<table class="table">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ num }}</td>
                        <td>{{ msg }}</td>
                    </tr>
            </tbody>
        </table>
        <a href="/" >Emvoyer un autre message</a>

</body>
</html>