<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<link rel="stylesheet" href="../static/styles.css">

<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>

</head>
<body>

    <div class="button-container">
        <a href="/msg" class="btn">Messages</a>
        <a href="/rappel" class="btn">Rappel RDV</a>
        <a href="/historique" class="btn">Historique</a>
    </div>


<table class="table">
            <thead>
                <tr>
                    {% for champ in rdv.keys() %}
                        <th>{{ champ }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                    <tr>
                        {% for champ in rdv.values() %}
                            <td>{{ champ }}</td>
                        {% endfor %}
                    </tr>
            </tbody>
        </table>
        <a href="/" >Envoyer un autre message</a>

</body>
</html>