<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Missions{% endblock %}</title>
    <link rel="stylesheet" href="../../static/css/accueil.css">
</head>
<body>
    <div class="container">
        {% block main %}
        <h1>Suivi des demandes de missions</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Motif</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date départ</th>
                    <th>Date retour</th>
                    <th>Ville</th>
                    <th>Téléphone</th>
                    <th>Type de transport</th>
                    <th>Numéro</th>
                    <th>Type d'hébergement</th>
                    <th>Coût mission</th>
                    <th>État de la mission</th>
                    <th>ID</th>
                    <th>Modifer État</th>
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
                {% for ligne in lignes %}

                    <tr>
                        {% for champ in ligne.values() %}
                            <td>{{ champ }}</td>
                        {% endfor %}
                        <td>
                            <form action="/modifier_etat_mission" method="post">
                               <select name="etat_mission" onchange="this.form.submit()">
                                    <option value="archivée" {% if ligne['État de la mission'] == 'archivée' %} selected {% endif %}>archivée</option>
                                    <option value="desarchiver" {% if ligne['État de la mission'] == 'desarchiver' %} selected {% endif %}>Désarchiver</option>
                                    <option value="validée" {% if ligne['État de la mission'] == 'validée' %} selected {% endif %}>validée</option>
                                    <option value="rejetée" {% if ligne['État de la mission'] == 'rejetée' %} selected {% endif %}>rejetée</option>
                                    <option value="demandée" {% if ligne['État de la mission'] == 'demandée' %} selected {% endif %}>demandée</option>
                                </select>
                                <input type="hidden" name="id" value="{{ ligne['ID'] }}">
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('choix_modification') }}" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="{{ ligne['ID'] }}">
                                <button type="submit" class="btn btn-primary">Modifier</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/comptes" class="btn btn-primary mb-3">Aller vers les Comptes</a>
        <a href="/hebergements" class="btn btn-primary mb-3">Aller vers les Hebergements</a>
        <a href="/depenses" class="btn btn-primary mb-3">Aller vers les Depenses</a>
        <a href="/missions" class="btn btn-primary mb-3">Aller vers les Missions</a>
        <a href="/transports" class="btn btn-primary mb-3">Aller vers les Transports</a>
        <a href="/villes" class="btn btn-primary mb-3">Aller vers les villes</a>
        <a href="/enseignants" class="btn btn-primary mb-3">Aller vers les enseignants</a>
        <a href="/logout" class="btn btn-danger mb-3">Déconnexion</a>
        {% endblock %}
    </div>
</body>
</html>
