<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Missions{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="../static/styles.css">


</head>
<body>

    <div class="button-container">
        <a href="/msg" class="btn">Messages</a>
        <a href="/rappel" class="btn">Rappel RDV</a>
        <a href="/historique" class="btn">Historique</a>
    </div>

    <h2>Historique des messages</h2>

    <form action="{{ url_for('historique') }}" method="post" style="display:inline;">
        <input type="hidden" name="type" value="msg">
        <button type="submit" >Message type msg</button>
    </form>

    <form action="{{ url_for('historique') }}" method="post" style="display:inline;">
        <input type="hidden" name="type" value="code">
        <button type="submit" >Message type code</button>
    </form>

    <form action="{{ url_for('historique') }}" method="post" style="display:inline;">
        <input type="hidden" name="type" value="rdv">
        <button type="submit" >Message type rdv</button>
    </form>

        <form action="{{ url_for('historique') }}" method="post" style="display:inline;">

        <button type="submit">Tous les messages</button>
    </form>

    {% if messages != None %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    {% for champ in messages[0].keys() %}
                        <th>{{ champ }}</th>
                    {% endfor %}
                </tr>

            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                    {% for champ in message.values() %}

                        {% if champ %}
                        <td> {{ champ }} </td>
                        {% endif %}

                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</body>
</html>
